{'pinLayouts':
[
{'id': '1',
'pin': '"P9_22"',
'name':'garage lights',
'description': 'garagae lights',
'isActuator':True,
'type': 'boolean'
},
{'id': '2',
'pin': '"P9_21"',
'name':'garage light switch',
'description': 'garage light switch',
'isActuator':False,
'type': 'boolean',
'inputProcessor': 'toggle-button'
}
]
}