{
  'pinLayouts': [
    {
      'id': '1',
      'pin': 'P8_4',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '2',
      'pin': 'P8_6',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '3',
      'pin': 'P8_8',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '4',
      'pin': 'P8_10',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '5',
      'pin': 'P8_12',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '6',
      'pin': 'P8_14',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '7',
      'pin': 'P8_18',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '8',
      'pin': 'P8_20',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '9',
      'pin': 'P8_22',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '10',
      'pin': 'P8_28',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '11',
      'pin': 'P8_30',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '12',
      'pin': 'P8_36',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '13',
      'pin': 'P8_38',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '14',
      'pin': 'P8_40',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '15',
      'pin': 'P8_42',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '16',
      'pin': 'P8_44',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '17',
      'pin': 'P8_46',
      'isActuator':True,
      'type': 'boolean'
    },
    {
      'id': '18',
      'pin': 'P8_48',
      'isActuator': True,
      'type': 'boolean'
    },

    {
      'id': '19',
      'pin': 'P8_3',
      'type': 'boolean'
    },
    {
      'id': '20',
      'pin': 'P8_7',
      'isActuator': True,
      'type': 'boolean'
    },
    {
      'id': '21',
      'pin': 'P8_9',
      'type': 'boolean'
    },
    {
      'id': '22',
      'pin': 'P8_11',
      'type': 'boolean'
    },
    {
      'id': '23',
      'pin': 'P8_15',
      'type': 'boolean'
    },
    {
      'id': '24',
      'pin': 'P8_17',
      'type': 'boolean'
    },
    {
      'id': '25',
      'pin': 'P8_21',
      'type': 'boolean'
    },
    {
      'id': '26',
      'pin': 'P8_23',
      'type': 'boolean'
    },
    {
      'id': '27',
      'pin': 'P8_25',
      'type': 'boolean'
    },
    {
      'id': '28',
      'pin': 'P8_27',
      'type': 'boolean'
    },
    {
      'id': '29',
      'pin': 'P8_29',
      'type': 'boolean'
    },
    {
      'id': '30',
      'pin': 'P8_39',
      'type': 'boolean'
    },
    {
      'id': '31',
      'pin': 'P8_41',
      'type': 'boolean'
    },
    {
      'id': '32',
      'pin': 'P8_43',
      'type': 'boolean'
    },
    {
      'id': '33',
      'pin': 'P8_45',
      'type': 'boolean'
    }


  ]
}