[general]
modules = main; watchdog
processors =
gatewayid =
clientid =
clientkey =
api server = api.smartliving.io
broker = broker.smartliving.io
secure = True
name = pyGate

[webServer]
enabled = false

[zwave]
port = /dev/ttyACM0
loglevel = None
config = /home/pi/zwave/python-openzwave-0.3.0b5/openzwave/config
device_classes.xml path = /home/pi/zwave/python-openzwave-0.3.0b5/openzwave/config/device_classes.xml

[mbus]
device = /dev/usb1
sample frequency = 300              # default value, for devices that don't specify it themselves.
libpath = /home/pi/libmbus/mbus/.libs/libmbus.so.0
baudrate = 19200

