[general]
#modules = main; groups; zwave; conversationalAgent
modules =  main; watchdog
processors = associations; groups
gatewayid =
clientid =
clientkey =
api server = api.smartliving.io
broker = broker.smartliving.io
secure = True


[zwave]
port = /dev/ttyACM0
loglevel = None
config = /root/zwave/python-openzwave-0.3.0b5/openzwave/config
device_classes.xml path = /root/zwave/python-openzwave-0.3.0b5/openzwave/config/device_classes.xml


[mbus]
#select 1: device or host (optionally with port)
device=/dev/usb1
#host=mbus-gw1
#port=8888
