[general]
modules = main; watchdog; test
processors = associations; groups
gatewayid =
clientid =
clientkey =
api server = api.smartliving.io
broker = broker.smartliving.io
secure = True
name = pyGate

[webServer]
enabled = false

[zwave]
port = /dev/ttyACM0
loglevel = None
config = /root/zwave/python-openzwave-0.3.0b5/openzwave/config
device_classes.xml path = /root/zwave/python-openzwave-0.3.0b5/openzwave/config/device_classes.xml

[mbus]
device = /dev/usb1
sample frequency = 300              # default value, for devices that don't specify it themselves.
libpath = /root/libmbus/mbus/.libs/libmbus.so.0
baudrate = 19200

